version: "3"

services:
  app:
    build:
      context: .
    ports:
      - "3003:3003"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:3003"
    environment: 
        - DB_HOST=db
        - DB_NAME=mydb-dev
        - DB_USER=admin
        - DB_PASS=admin
    depends_on: 
        - db
  db:
    image: postgres:13-alpine
    environment:
        - POSTGRES_DB=mydb-dev
        - POSTGRES_USER=admin
        - POSTGRES_PASSWORD=admin
    volumes: 
        - pgdata:/var/lib/postgresql/data
    ports:
        - "5432:5432"

volumes:
    pgdata:
